.main-heading-text {
    font-size: 12px;
    font-weight: bold;
  }
  
  
  * {
    padding: 0;
    margin: 0;
}

main {
    width: 50vw;
    height: 120vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    width: 600px;
    border: solid 1px #EBEBEB;
    padding: 10rem;
}

button {
    margin-top: 2rem;
} 




